Repository swsnu/swppfall2022-team15, pull requests merged in 2022-11, with the labels that each got.

#11 Notisidebar
  frontend/package.json
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/components/Project/project.tsx
  frontend/src/containers/ProjectList/ProjectList.tsx
  frontend/src/containers/Sidebar/NotiSidebar.css
  frontend/src/containers/Sidebar/NotiSidebar.test.tsx
  frontend/src/containers/Sidebar/NotiSidebar.tsx
  frontend/src/index.tsx
  frontend/src/store/index.tsx
  frontend/src/store/slices/project.tsx
  frontend/src/store/slices/user.tsx
  frontend/src/test-utils/mocks.tsx
  frontend/yarn.lock
Labels: frontend

#14 PR Summary 업데이트
  .github/pull_request_template.md
Labels: documentation

#15 Project list, create
  backend/.pylintrc
  backend/core/__init__.py
  backend/core/permissions.py
  backend/noti_manager/settings/base.py
  backend/noti_manager/urls.py
  backend/project/__init__.py
  backend/project/apps.py
  backend/project/migrations/0001_initial.py
  backend/project/migrations/__init__.py
  backend/project/models.py
  backend/project/serializers.py
  backend/project/tests.py
  backend/project/urls.py
  backend/project/views.py
  frontend/package.json
  frontend/src/.prettierrc
  frontend/src/App.tsx
  frontend/src/components/iconify/Iconify.tsx
  frontend/src/components/label/Label.tsx
  frontend/src/components/label/styles.ts
  frontend/src/components/project/ProjectCreateModal.tsx
  frontend/src/containers/ProjectList.tsx
  frontend/src/containers/Sidebar/NotiSidebar.tsx
  frontend/src/index.tsx
  frontend/src/services/project.ts
  frontend/src/store/index.ts
  frontend/src/store/slices/project.ts
  frontend/yarn.lock
Labels: backend, frontend

#17 Sidebar 개선포인트 제안
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/containers/Sidebar/NotiSidebar.tsx
  frontend/yarn.lock
Labels: suggestion

#18 remove obsolete
  frontend/src/App.tsx
Labels: refactor

#20 Project Detail & Notification Create
  backend/Pipfile
  backend/Pipfile.lock
  backend/account/admin.py
  backend/core/models.py
  backend/noti_manager/settings/base.py
  backend/noti_manager/settings/local.py
  backend/noti_manager/urls.py
  backend/notifications/__init__.py
  backend/notifications/admin.py
  backend/notifications/apps.py
  backend/notifications/migrations/0001_initial.py
  backend/notifications/migrations/__init__.py
  backend/notifications/models.py
  backend/notifications/serializers.py
  backend/notifications/tests.py
  backend/notifications/urls.py
  backend/notifications/views.py
  backend/project/models.py
  backend/project/views.py
  frontend/src/App.tsx
  frontend/src/Enums.ts
  frontend/src/components/NotificationCreateModal.tsx
  frontend/src/components/ProjectDetail/ProjectDetail.tsx
  frontend/src/components/autoComplete.tsx
  frontend/src/components/button/Buttons.tsx
  frontend/src/components/table/CollapsibleTable.tsx
  frontend/src/index.tsx
  frontend/src/store/index.ts
  frontend/src/store/slices/notifications.ts
  frontend/src/store/slices/project.ts
  frontend/src/types.ts
Labels: backend, frontend

#22 Add home sign in and sign up
  .travis.yml
  backend/requirements.txt
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/GridView/ProjectGridView.tsx
  frontend/src/components/GridView/assets/ind-folder.svg
  frontend/src/components/GridView/assets/org-folder.svg
  frontend/src/components/PieChart/PieChart.tsx
  frontend/src/components/Sidebar/NotiSidebar.css
  frontend/src/components/Sidebar/NotiSidebar.tsx
  frontend/src/containers/Home/Home.css
  frontend/src/containers/Home/Home.tsx
  frontend/src/containers/SignIn/SignIn.css
  frontend/src/containers/SignIn/SignIn.tsx
  frontend/src/containers/SignUp/SignUp.css
  frontend/src/containers/SignUp/SignUp.tsx
  frontend/yarn.lock
Labels: frontend, feature

#26 중복된 Pipenv 파일 제거
  Pipfile
  Pipfile.lock
  backend/Pipfile
  backend/Pipfile.lock
  backend/notifications/serializers.py
Labels: fix

#25 Notification Viewset 에 누락된 Serializer 추가
  backend/notifications/serializers.py
  backend/notifications/views.py
Labels: fix

#32 Notification Enum Field 수정
  backend/notifications/models.py
  backend/notifications/serializers.py
Labels: backend, fix

#35 Notifictation Type 칼럼 수정 Migration 파일 추가
  backend/notifications/migrations/0002_alter_notification_status_alter_notification_type_and_more.py
Labels: backend, migration

#38 Choice Value 형식 통일
  backend/notifications/migrations/0002_alter_notification_status_alter_notification_type_and_more.py
  backend/project/migrations/0002_alter_project_project_type.py
  backend/project/models.py
  backend/project/tests.py
  frontend/src/components/project/project.tsx
Labels: backend, refactor, migration

#34 TargetList UI 추가
  frontend/src/App.tsx
  frontend/src/containers/TargetList/TargetList.tsx
  frontend/src/services/target.ts
  frontend/src/store/slices/index.ts
  frontend/src/store/slices/target.ts
  frontend/src/types.ts
Labels: frontend, feature

#28 edit designs
  frontend/src/App.css
  frontend/src/components/Sidebar/NotiSidebar.css
  frontend/src/components/Sidebar/NotiSidebar.tsx
  frontend/src/containers/Home/Home.css
  frontend/src/containers/Home/Home.tsx
Labels: frontend, fix

#40 fix/add-missing-files
  frontend/src/components/Targets/TargetCreateModal.tsx
  frontend/src/components/Targets/target.tsx
  frontend/src/containers/TargetList/TargetList.tsx
Labels: frontend, fix

#47 기존 모델들을 Timestamped 로 만듦
  backend/notifications/migrations/0003_notification_created_at_notification_updated_at_and_more.py
  backend/notifications/models.py
Labels: backend, migration

#51 Fix overlay
  frontend/src/App.tsx
  frontend/src/components/Sidebar/NotiSidebar.css
  frontend/src/components/Sidebar/NotiSidebar.tsx
Labels: bug, frontend

#53 Front 페이지에서 noti create api 가 작동하도록 수정
  backend/notifications/serializers.py
  frontend/src/components/NotificationCreateModal.tsx
  frontend/src/store/slices/notifications.ts
Labels: frontend, fix

#54 ProjectList 페이지에서 Detail 페이지 클릭 영역 변경
  frontend/src/containers/ProjectList/ProjectList.tsx
Labels: frontend, fix

#57 Global styles
  frontend/src/components/GlobalStyles.tsx
  frontend/src/index.tsx
Labels: frontend

#64 TargetComponent 리스트 및 추가 기능 구현
  frontend/src/components/Targets/TargetCreateModal.tsx
  frontend/src/containers/TargetList/TargetList.tsx
  frontend/src/store/slices/target.ts
  frontend/src/types.ts
Labels: frontend

#65 Message Component 수정
  backend/noti_manager/urls.py
  frontend/src/components/Message/MessageCreateModal.tsx
  frontend/src/components/Message/message.tsx
  frontend/src/containers/MessageList/MessageList.tsx
  frontend/src/store/slices/message.ts
  frontend/src/types.ts
Labels: frontend, fix

#67 Front - UI 를 반응형으로 변경
  frontend/src/components/ProjectDetail/ProjectDetail.tsx
  frontend/src/components/Targets/target.tsx
  frontend/src/containers/MessageList/MessageList.tsx
  frontend/src/containers/TargetList/TargetList.tsx
Labels: frontend

#68 API 전송 서비스 추가
  backend/Pipfile
  backend/Pipfile.lock
  backend/core/exceptions.py
  backend/notifications/services.py
  backend/notifications/views.py
  frontend/src/components/NotificationCreateModal.tsx
  frontend/src/services/target.ts
  frontend/src/store/slices/notifications.ts
Labels: backend, frontend, feature

#61 finishHome
  frontend/package.json
  frontend/src/App.css
  frontend/src/components/GridView/ProjectGridView.tsx
  frontend/src/components/PieChart/PieChart.tsx
  frontend/src/components/RecentThree/RecentThree.css
  frontend/src/components/RecentThree/RecentThree.tsx
  frontend/src/components/Sidebar/NotiSidebar.css
  frontend/src/components/Sidebar/NotiSidebar.tsx
  frontend/src/components/Upcoming/Upcoming.css
  frontend/src/components/Upcoming/Upcoming.tsx
  frontend/src/containers/Home/Home.css
  frontend/src/containers/Home/Home.tsx
  frontend/src/containers/ProjectList/ProjectList.tsx
  frontend/yarn.lock
Labels: frontend, feature

#75 Fix sidebar testcase
  frontend/src/components/Sidebar/NotiSidebar.test.tsx
Labels: bug, frontend

#74 Add signup api
  backend/account/serializers.py
  backend/account/tests.py
  backend/account/views.py
  backend/core/models.py
  backend/noti_manager/settings/local.py
  backend/noti_manager/urls.py
  backend/project/views.py
Labels: backend, feature

#73 requests and error message
  .vscode/settings.json
  frontend/src/containers/SignIn/SignIn.css
  frontend/src/containers/SignIn/SignIn.tsx
  frontend/src/containers/SignUp/SignUp.css
  frontend/src/containers/SignUp/SignUp.tsx
Labels: frontend, feature, todo

#79 Django Extension 추가
  backend/Pipfile
  backend/Pipfile.lock
  backend/noti_manager/settings/base.py
Labels: misc

#83 message.ts의 test 코드
  frontend/src/store/slices/message.test.ts
  frontend/src/store/slices/message.ts
Labels: frontend

#85 Project test
  frontend/src/App.test.tsx
  frontend/src/components/project/ProjectCreateModal.tsx
  frontend/src/containers/ProjectList/ProjectList.test.tsx
  frontend/src/containers/ProjectList/ProjectList.tsx
  frontend/src/services/project.ts
Labels: frontend

#87 Add user retrieve api
  backend/account/serializers.py
  backend/account/tests.py
  backend/account/views.py
  backend/noti_manager/urls.py
Labels: backend

#90 Auth
  README.md
  frontend/src/App.tsx
  frontend/src/components/AuthRoute/AuthRoute.test.tsx
  frontend/src/components/AuthRoute/AuthRoute.tsx
  frontend/src/containers/SignIn/SignIn.tsx
  frontend/src/index.tsx
  frontend/src/store/slices/auth.test.ts
  frontend/src/store/slices/auth.ts
  frontend/src/store/slices/index.ts
  frontend/src/test-utils/mock_state.ts
  frontend/src/types.ts
  sonar-project.properties
Labels: frontend, feature

#102 NotificationGroup 테이블 변경
  backend/notifications/admin.py
  backend/notifications/migrations/0004_rename_notificationgroup_notificationconfig_and_more.py
  backend/notifications/migrations/0005_remove_notificationconfig_status.py
  backend/notifications/models.py
  backend/notifications/serializers.py
  backend/notifications/services.py
  backend/notifications/tests.py
  backend/notifications/views.py
  backend/project/views.py
Labels: refactor, migration

#106 Home Project List Display Toggle Button
  frontend/src/App.tsx
  frontend/src/containers/Home/Home.css
  frontend/src/containers/Home/Home.tsx
  frontend/src/containers/Home/ListView/ProjectListView.tsx
  frontend/src/containers/MultiStepForm/FormWrapper.tsx
  frontend/src/containers/MultiStepForm/MessageForm.tsx
  frontend/src/containers/MultiStepForm/MultiStepForm.tsx
  frontend/src/containers/MultiStepForm/TargetForm.tsx
  frontend/src/containers/MultiStepForm/useMultiStepForm.ts
  frontend/src/containers/ProjectList/ProjectList.tsx
Labels: frontend, feature, mid-priority

#108 url 관련 파일을 별도로 뺌
  backend/core/api_urls.py
  backend/noti_manager/urls.py
Labels: backend, refactor

#113 Message
  backend/nmessages/views.py
  frontend/src/App.css
  frontend/src/Enums.ts
  frontend/src/components/Message/MessageCreateModal.test.tsx
  frontend/src/components/Message/MessageCreateModal.tsx
  frontend/src/components/Message/MessageTable.test.tsx
  frontend/src/components/Message/MessageTable.tsx
  frontend/src/components/NotificationCreateModal.tsx
  frontend/src/containers/MessageList/MessageList.tsx
  frontend/src/services/message.ts
  frontend/src/store/slices/message.test.ts
  frontend/src/store/slices/message.ts
  frontend/src/test-utils/mock_state.ts
  frontend/src/types.ts
Labels: backend, frontend, feature

#116 Message
  frontend/src/components/Message/MessageCreateModal.tsx
  frontend/src/components/Message/MessageTable.tsx
  frontend/src/containers/MessageList/MessageList.test.tsx
  frontend/src/containers/MessageList/MessageList.tsx
Labels: frontend

#122 Reservation UI 추가
  .github/workflows/eslint.yml
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/Recurrence/Recurrence.tsx
  frontend/src/components/Recurrence/components/EndingConditionSelector/EndingConditionSelector.tsx
  frontend/src/components/Recurrence/components/EndingConditionSelector/index.tsx
  frontend/src/components/Recurrence/components/EndingConditionSelector/styles.ts
  frontend/src/components/Recurrence/components/FrequencySelector/FrequencySelector.tsx
  frontend/src/components/Recurrence/components/FrequencySelector/index.tsx
  frontend/src/components/Recurrence/components/FrequencySelector/styles.ts
  frontend/src/components/Recurrence/components/RecurrenceContext.ts
  frontend/src/components/Recurrence/components/RecurrenceProvider.tsx
  frontend/src/components/Recurrence/components/StartDateSelector/StartDateSelector.tsx
  frontend/src/components/Recurrence/components/StartDateSelector/index.tsx
  frontend/src/components/Recurrence/components/StartDateSelector/styles.ts
  frontend/src/components/Recurrence/components/TimeSelector/TimeSelector.tsx
  frontend/src/components/Recurrence/components/TimeSelector/index.tsx
  frontend/src/components/Recurrence/components/TimeSelector/styles.ts
  frontend/src/components/Recurrence/components/WeekDaysSelector/WeekDaysSelector.tsx
  frontend/src/components/Recurrence/components/WeekDaysSelector/index.tsx
  frontend/src/components/Recurrence/components/WeekDaysSelector/styles.ts
  frontend/src/components/Recurrence/components/general/DatePicker/DatePicker.tsx
  frontend/src/components/Recurrence/components/general/DatePicker/index.tsx
  frontend/src/components/Recurrence/components/general/DatePicker/styles.ts
  frontend/src/components/Recurrence/components/general/DropDown/DropDown.tsx
  frontend/src/components/Recurrence/components/general/DropDown/index.tsx
  frontend/src/components/Recurrence/components/general/DropDown/styles.ts
  frontend/src/components/Recurrence/components/general/NumberInput/NumberInput.tsx
  frontend/src/components/Recurrence/components/general/NumberInput/index.tsx
  frontend/src/components/Recurrence/components/general/NumberInput/styles.ts
  frontend/src/components/Recurrence/index.test.tsx
  frontend/src/components/Recurrence/index.tsx
  frontend/src/components/Recurrence/styles.ts
  frontend/src/components/Recurrence/types.ts
  frontend/src/components/Recurrence/typings.d.ts
  frontend/src/components/Reservation.tsx
  frontend/yarn.lock
Labels: frontend, feature
