Repository swsnu/swppfall2022-team15, pull requests merged in 2022-12, with the labels that each got.

#120 tests
  frontend/src/components/NotificationCreateModal.test.tsx
  frontend/src/components/NotificationCreateModal.tsx
  frontend/src/components/ProjectDetail/ProjectDetail.test.tsx
  frontend/src/components/Sidebar/NotiSidebar.test.tsx
  frontend/src/components/Sidebar/NotiSidebar.tsx
  frontend/src/components/Targets/TargetCreateModal.tsx
  frontend/src/containers/Home/GridView/ProjectGridView.tsx
  frontend/src/containers/Home/Home.test.tsx
  frontend/src/containers/Home/Home.tsx
  frontend/src/containers/Home/ListView/ProjectListView.test.tsx
  frontend/src/containers/MessageList/MessageList.test.tsx
  frontend/src/containers/SignUp/SignUp.test.tsx
  frontend/src/containers/SignUp/SignUp.tsx
  frontend/src/services/message.test.ts
  frontend/src/services/message.ts
  frontend/src/store/slices/message.test.ts
  frontend/src/store/slices/notifications.test.ts
  frontend/src/store/slices/notifications.ts
  frontend/src/store/slices/target.ts
Labels: frontend, refactor

#123 Add slack task
  backend/noti_manager/settings/base.py
  backend/notifications/serializers.py
  backend/notifications/services.py
  backend/notifications/slack/__init__.py
  backend/notifications/slack/serializers.py
  backend/notifications/slack/services.py
  backend/notifications/tests.py
Labels: backend

#125 refactor react
  frontend/src/App.tsx
  frontend/src/components/Iconify/Iconify.tsx
  frontend/src/components/Label/Label.test.tsx
  frontend/src/components/Label/Label.tsx
  frontend/src/components/Label/styles.ts
  frontend/src/components/Message/MessageTable.tsx
  frontend/src/components/Notification/NotificationCreateModal.test.tsx
  frontend/src/components/Notification/NotificationCreateModal.tsx
  frontend/src/components/Project/ProjectCreateModal.test.tsx
  frontend/src/components/Project/ProjectCreateModal.tsx
  frontend/src/components/Project/ProjectDetail/ProjectDetail.test.tsx
  frontend/src/components/Project/ProjectDetail/ProjectDetail.tsx
  frontend/src/components/Scrollbar/Scrollbar.test.tsx
  frontend/src/components/Scrollbar/Scrollbar.tsx
  frontend/src/components/Scrollbar/styles.ts
  frontend/src/components/Styles/GlobalStyles.test.tsx
  frontend/src/components/Styles/GlobalStyles.tsx
  frontend/src/components/Table/CollapsibleTable.test.tsx
  frontend/src/components/Table/CollapsibleTable.tsx
  frontend/src/containers/Home/Home.tsx
  frontend/src/containers/Home/ListView/ProjectListView.tsx
  frontend/src/containers/MessageList/MessageList.tsx
  frontend/src/containers/ProjectList/ProjectList.tsx
  frontend/src/containers/TargetList/TargetList.tsx
  frontend/src/index.tsx
Labels: refactor

#124 Analytics
  frontend/.gitignore
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/Message/MessageCreateModal.tsx
  frontend/src/components/Notification/NotificationCreateModal.tsx
  frontend/src/components/Project/ProjectCreateModal.test.tsx
  frontend/src/components/Project/ProjectCreateModal.tsx
  frontend/src/components/Project/ProjectDetail/ProjectDetail.tsx
  frontend/src/components/Recurrence/index.test.tsx
  frontend/src/components/Scrollbar/Scrollbar.tsx
  frontend/src/components/Sidebar/NotiSidebar.css
  frontend/src/components/Sidebar/NotiSidebar.test.tsx
  frontend/src/components/Sidebar/NotiSidebar.tsx
  frontend/src/components/Targets/TargetCreateModal.test.tsx
  frontend/src/components/Targets/TargetCreateModal.tsx
  frontend/src/containers/Home/Boxes/Analytics.test.tsx
  frontend/src/containers/Home/Boxes/Analytics.tsx
  frontend/src/containers/Home/Boxes/BarLineAnalytics.test.tsx
  frontend/src/containers/Home/Boxes/BarLineAnalytics.tsx
  frontend/src/containers/Home/Boxes/BarLineToday.test.tsx
  frontend/src/containers/Home/Boxes/BarLineToday.tsx
  frontend/src/containers/Home/Boxes/Charts.test.tsx
  frontend/src/containers/Home/Boxes/Charts.tsx
  frontend/src/containers/Home/Boxes/FakeData.ts
  frontend/src/containers/Home/Boxes/PieChart.tsx
  frontend/src/containers/Home/Boxes/Today.tsx
  frontend/src/containers/Home/Boxes/Widget.css
  frontend/src/containers/Home/Boxes/Widget.test.tsx
  frontend/src/containers/Home/Boxes/Widget.tsx
  frontend/src/containers/Home/GridView/ProjectGridView.test.tsx
  frontend/src/containers/Home/GridView/ProjectGridView.tsx
  frontend/src/containers/Home/Home.css
  frontend/src/containers/Home/Home.test.tsx
  frontend/src/containers/Home/Home.tsx
  frontend/src/containers/Home/ListView/ProjectListView.test.tsx
  frontend/src/containers/Home/ListView/ProjectListView.tsx
  frontend/src/containers/Home/PieChart/PieChart.test.tsx
  frontend/src/containers/Home/PieChart/PieChart.tsx
  frontend/src/containers/Home/RecentThree/RecentThree.css
  frontend/src/containers/Home/RecentThree/RecentThree.test.tsx
  frontend/src/containers/Home/RecentThree/RecentThree.tsx
  frontend/src/containers/Home/Upcoming/Upcoming.css
  frontend/src/containers/Home/Upcoming/Upcoming.test.tsx
  frontend/src/containers/Home/Upcoming/Upcoming.tsx
  frontend/src/containers/MessageList/MessageList.tsx
  frontend/src/containers/ProjectList/ProjectList.test.tsx
  frontend/src/containers/ProjectList/ProjectList.tsx
  frontend/src/containers/SignIn/SignIn.test.tsx
  frontend/src/containers/SignUp/SignUp.tsx
  frontend/src/containers/TargetList/TargetList.test.tsx
  frontend/src/containers/TargetList/TargetList.tsx
  frontend/src/services/project.ts
  frontend/src/test-utils/mock_state.ts
  frontend/yarn.lock
Labels: frontend, feature

#119 Feat/multistep
  backend/core/views.py
  backend/targetusers/serializers.py
  backend/targetusers/views.py
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/Enums.ts
  frontend/src/components/Message/MessageCreateForm.tsx
  frontend/src/components/Message/MessageCreateModal.tsx
  frontend/src/components/Message/MessageTable.tsx
  frontend/src/components/Message/utils/MessageRequestSerivce.ts
  frontend/src/components/Notification/NotificationCreateModal.tsx
  frontend/src/components/Project/ProjectDetail/ProjectDetail.tsx
  frontend/src/components/Recurrence/Recurrence.tsx
  frontend/src/components/Recurrence/RecurrenceDialog.tsx
  frontend/src/components/Reservation.tsx
  frontend/src/components/SplitButton/SplitButton.tsx
  frontend/src/components/TargetUserMultiSelect/TargetUserMultiSelect.test.tsx
  frontend/src/components/TargetUserMultiSelect/TargetUserMultiSelect.tsx
  frontend/src/components/Targets/TargetCreateForm.tsx
  frontend/src/components/Targets/TargetCreateModal.test.tsx
  frontend/src/components/Targets/TargetCreateModal.tsx
  frontend/src/containers/Home/ListView/ProjectListView.test.tsx
  frontend/src/containers/MultiStepForm/FormWrapper.tsx
  frontend/src/containers/MultiStepForm/MessageForm.test.tsx
  frontend/src/containers/MultiStepForm/MessageStep.tsx
  frontend/src/containers/MultiStepForm/MultiStepForm.test.tsx
  frontend/src/containers/MultiStepForm/MultiStepForm.tsx
  frontend/src/containers/MultiStepForm/NotificaitonTypeStep.tsx
  frontend/src/containers/MultiStepForm/ReservationStep.test.tsx
  frontend/src/containers/MultiStepForm/ReservationStep.tsx
  frontend/src/containers/MultiStepForm/TargetUserStep.test.tsx
  frontend/src/containers/MultiStepForm/TargetUserStep.tsx
  frontend/src/containers/MultiStepFormDialog/MultiStepFormDialog.tsx
  frontend/src/services/message.test.ts
  frontend/src/services/message.ts
  frontend/src/services/target.test.ts
  frontend/src/services/target.ts
  frontend/src/store/slices/message.ts
  frontend/src/store/slices/reservation.ts
  frontend/src/store/slices/target.test.ts
  frontend/src/store/slices/target.ts
  frontend/src/types.ts
  frontend/yarn.lock
Labels: frontend, feature
